/* Change le modèle de boite par défaut */
* {
	box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
  scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans);
	font-size: var(--textes);
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--fond);
	color: var(--textes);
  position: relative;
}

h1,
h2 {
  font-weight: 600;
  letter-spacing: -0.05rem;
  color: var(--dark);
}

h1 {
  font-size: var(--titre);
  line-height: 1.1;
}

h2 {
  font-size: var(--sous-titre);
  line-height: 1.3;
}

h3 {
  font-size: var(--textes);
  line-height: 1.3;
  color: var(--textes);
  letter-spacing: -0.03rem;
}

main a {
  color: var(--dark);
  text-decoration: none;
  border-bottom: 1px solid var(--gray-300);
  transition: all 0.3s ease;
}

main a:hover {
  border-bottom-color: var(--gray-900);
}

/* Enlève l'apparence par défaut des boutons, input, select */
button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/* --- CLASSES UTILITAIRES --- */

/* Pour enlever l'apparence par défaut des listes */
.u-list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.u-sr-only {
  position: absolute !important;
  inline-size: 1px; /* width logique */
  block-size: 1px; /* height logique */
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap; /* évite le retour à la ligne */
  border: 0;

  /* Masquage moderne + fallback */
  clip-path: inset(50%);
}

.u-noscroll {
  overflow: hidden;
}

.u-highlight {
  color: var(--tonique-light);
}

.u-intro {
  font-size: var(--text-2xl);
  color: var(--dark);
  font-weight: 600;
}

.u-grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2xl);
}

.Timer__time{
  text-align: center;
  margin-bottom: 50px;
}

.titre__savoir-plus {
  margin-left: 16px;
  color: #FF9500;
}

.titre__fleche-bas{
    display: flex;
    margin: auto;
}

.titre__programmation{
  color: #FF9500;
  text-align: center;
}

.card__bandajul{
  display: flex;
  margin: auto;
  border: #ffffff;
  width: 321px;
  height: 146px;
}

.card__description-programme{

}

.card__image-MishMash{
  display: flex;
  margin: auto;
  border: #ffffff;
  width: 321px;
  height: 146px;
}


.programmation-index__trompette{
  display: flex;
  margin: auto;
}

.partenaire__titre{
  text-align: center;
  color: #FF9500;
}

.logos__partenaires-index{
  width: 325px;
  height: 165px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}