.header{
    width: 430px;
    height: 118px;
    background-color: #ffc67d;
    display: flex;
    position: fixed;
    left: 0;
    align-items: center;
    justify-content: space-between;
    
}
.header__icon{
    width: 112px;
    height: 64px;
    aspect-ratio: 7/4;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 298px;
    display: block;
    position: relative;
    z-index: 20;
}
.header__menu{
    display: block;
    position: relative;
    z-index: 20;
    margin-left: 29px;
    margin-top: 23px;
    margin-right: 27px;
    width: 46px;
    height: 31px;
    cursor: pointer;
}