.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* important */
    height: 118px;
    background-color: #ffc67d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* remplace toutes les grosses marges */
    z-index: 20;

    
}
.header__icon{
    width: 112px;
    height: 64px;
    aspect-ratio: 7/4;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: relative;
    z-index: 20;
}
.header__menu{
    display: block;
    position: relative;
    z-index: 20;
    margin-left: 29px;
    margin-top: 23px;
    margin-right: 27px;
    width: 46px;
    height: 31px;
    cursor: pointer;
}