.hero {
    position: relative;
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center;

}




    


.hero__intro {
    font-size: var(--titre);
    line-height: 1.3;
    color: var(--titre-texte);
    text-align: center;
}

.hero__description {
    font-size: var(--texte);
    line-height: 1.4;
    color: var(--texte);
    text-align: center;
    width: 372px;
    margin-left: 28px;
}

