.hero {
    position: relative;
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center;
}




    


.hero__intro {
    font-size: var(--titre);
    line-height: 1.3;
    color: var(--titre-texte);
    text-align: center;
    width: 100%;
}

.hero__description {
    font-size: var(--texte);
    line-height: 1.4;
    color: var(--texte);
    text-align: center;
    width: 372px;
    margin-left: 28px;
    margin: auto;
}

.hero__description2{
    font-size: var(--sous-titre);
    line-height: 1.4;
    color: var(--texte);
    text-align: center;
    width: 372px;
    margin-left: 28px;
    margin: auto;
}

.hero__description3{
    font-size: var(--sous-titre);
    line-height: 1.4;
    color: var(--titre-texte);
    text-align: center;
    width: 372px;
    margin-left: 28px;
    margin-top: 0%;
}

.hero__description4{
    font-size: var(--sous-titre);
    line-height: 1.4;
    color: var(--texte);
    text-align: center;
    width: 372px;
    margin-left: 28px;
    margin-bottom:50px;
    margin-top: 0%;
}