.menu{
    position: fixed;
    inset: 0;
    z-index: 12;
    color: var(--texte-fond-secondaire);
    display: flex;
    gap:  124px;
    flex-direction: column;
    padding: var(--marge-menu);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu--open{
    transform: translateX(0);
}
.menu::before{
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--fond-secondaire);
    z-index: 11;
}
.nav__liste{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:  40px;
    font-size: var(--texte-important);
    font-weight: 700;
    z-index: 20;
    margin-top: 181px;
}
.nav__item{
    font-size: var(--texte-important);
    text-decoration: none;
}

.nav__link{
    color: var(--texte-fond-secondaire);
    text-decoration: none;
}