/* style.css - Ordre CRUCIAL */

/* 1. Vendors - Spécificité la plus faible */
@import "vendors/normalize.css";  

/* 2. Utils - Variables globales */
@import "utils/variables.css";    

/* 3. Base - Éléments HTML bruts */
@import "base/main.css";           

/* 4. Layout - Structure de page */
@import "layout/header.css"; 
@import "layout/footer.css";
@import "layout/section.css"      

/* 5. Components - Spécificité la plus forte */
@import "components/button.css";   
@import "components/menu.css";
@import "components/hero.css";
@import "components/card.css"
@import "components/carousel.css"


@import "base/media.css"